FREEZER_DB_BACKEND=vertica

# Used when FREEZER_DB_BACKEND=sqlite
FREEZER_SQLITE_PATH=workflow_freeze.db

VERTICA_HOST=localhost
VERTICA_PORT=5433
VERTICA_USER=dbadmin
VERTICA_PASSWORD=
VERTICA_DB=docker
VERTICA_SCHEMA=DM

TABLEAU_SERVER_URL=
TABLEAU_TOKEN_NAME=
TABLEAU_TOKEN_VALUE=
TABLEAU_SITENAME=
